.crystal-image {
    width: 200px;
    height: 200px;
    margin: -10px;
    margin-top: 100px;
    margin-right: -15px;
    background-image: url("../images/giphy.gif") !important;
    
}

body {
    background-image: url("../images/giphy.gif") !important;
    background-repeat: no-repeat;
    background-size:1000% 1000vh;
}

.container1 {
    background-image: url("../images/giphy.gif") !important;
    position: relative !important;
    font-size: 15px;
    text-align: justify;
}

.container3 {
    background-color: rgba(133, 130, 130, 0.311) !important;
    background-image: url("../images/giphy.gif") !important;
    background-repeat: repeat;
    position: relative !important;
    font-size: 15px;
    text-align: justify;
}

.jumbotron {
    background-color: rgba(133, 130, 130, 0.311);
    color: white;
    font-weight: bold;
}

.card {
    background-color: rgba(133, 130, 130, 0.311);
    color: white;
    font-weight: bold;
    text-align: center;
    width: 550px !important;
    margin: 15px;
}

.container2 {
    background-color: rgba(133, 130, 130, 0.311) !important;
    background-image: url("../images/giphy.gif") !important;
    position: relative !important;
    float: left;
}

#random-number {
    color: white;
    font-weight: bold;
}