.crystal-image {
    width: 200px;
    height: 200px;
    margin: 70px;
    background-image: url("../images/giphy.gif") !important;
    
}

body {
    background-image: url("../images/giphy.gif") !important;
    background-repeat: no-repeat;
    background-size:100% 1000vh;
}

.container1 {
    background-image: url("../images/giphy.gif") !important;
    position: relative !important;
    font-size: 15px;
    text-align: justify;
    margin: 15px;
}

.container2 {
    background-color: rgba(133, 130, 130, 0.311) !important;
    background-image: url("../images/giphy.gif") !important;
    size: 100% 100vh;
}

.container3 {
    background-color: rgba(133, 130, 130, 0.311) !important;
    background-image: url("../images/giphy.gif") !important;
    background-repeat: repeat;
    position: relative !important;
    font-size: 15px;
    text-align: justify;
}

.jumbotron {
    background-color: rgba(133, 130, 130, 0.311);
    color: white;
    font-weight: bold;
}

.card {
    background-color: rgba(133, 130, 130, 0.311);
    color: white;
    font-weight: bold;
    text-align: center;
    width: 500px !important;
    margin: 15px;
}

.card2 {
    background-color: rgba(133, 130, 130, 0.311);
    color: white;
    font-weight: bold;
    text-align: center;
    width: 500px !important;
    margin: 70px;
}
